<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Taming Thymeleaf</title>
    <link rel="stylesheet" th:href="@{/webjars/tailwindcss/2.1.2/dist/tailwind.min.css}">
</head>
<body>
<h1 th:text="#{index.title}" class="text-4xl mx-4 mb-4 border-b-4 border-green-700">First title</h1>
<h1 th:text="${pageTitle}">Taming Thymeleaf</h1>
<div>Authors:</div>
<div th:insert="fragments :: separator"></div>
<div th:replace="fragments :: menu-item('Users', '/users')"></div>
<div th:replace="fragments :: menu-item('Groups', '/groups')"></div>
<div>
    <ul>
        <li th:each="author : ${pageAuthors}">
            <span th:text="${author}"></span>
        </li>
    </ul>
</div>
</body>
</html>