<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Taming Thymeleaf</title>
    <link rel="stylesheet" th:href="@{/css/application.css}">
</head>
<body>
<h1 th:text="#{index.title}">First title</h1>
<h1 th:text="${pageTitle}">Taming Thymeleaf</h1>
<div>Authors:</div>
<div>
    <ul>
        <li th:each="author : ${pageAuthors}">
            <span th:text="${author}"></span>
        </li>
    </ul>
</div>
</body>
</html>